/* src/scss/global.scss */

:root {
  --font-source-sans: var(--font-source-sans);
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-source-sans), sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}

/* Bold & Extra Bold */
strong, b, .bold {
  font-weight: 700;
}

/* Extra Bold */
.extra-bold {
  font-weight: 900;
}

/* Italic */
em, i, .italic {
  font-style: italic;
}

/* Bold Italic */
.bold-italic {
  font-weight: 700;
  font-style: italic;
}

/* Light weights */
.light {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.thin-italic {
  font-weight: 200;
  font-style: italic;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {

  font-weight: 700;
}

h1 {
  font-weight: 800;
}

// gobinda
@import './variable.scss';
.text{
  &-primary{color: $primary;}
  &-secondary{color: $secondary;}
  &-accent{color: $accent;}
  &-error{color: $error;}
  &-success{color: $success;}
  &-info{color: $info;}
  &-white{color: $white;}
}
[bgColor="primary"]{background-color: $primary!important;}
[bgColor="secondary"]{background-color: $secondary!important;}
[bgColor="accent"]{background-color: $accent!important;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p{margin-block-start: 0;font-family: $fontInter;font-weight: 500;}
h1,.h1{font-size:4.063rem;line-height:1.25; font-weight:300;}
h2,.h2{font-size: 2.938rem;font-weight: 700;}
h3,.h3{font-size: 2rem;}
h4,.h4{font-size: 1.063rem;}
h5,.h5{font-size: 1.375rem;margin-block-end: 1.5rem;}
h6,.h6{font-size: 1.25rem;}
p{font-size: 1rem;font-weight: 400;}
h1 span, .h1 span{color: $success;}
.container{max-width: 90rem;padding-inline: 3.125rem;margin-inline: auto;}
.swiper{width: 100%;height: 100%;
  $swiper: &;
  &.infoSlider{overflow: visible;
    #{$swiper}-pagination{position: static;margin-block-start: 0.25rem;}
  }
}
.swiper-pagination{
  $swiper: &;
  &-bullet{
    &#{$swiper}-bullet-active{transform: scale(1.25); transition: all .3s; background-color: $secondary;}
  }
}

.lightScroll{
  ::-webkit-scrollbar {height: 0.125rem; width: 0.125rem; border-radius: 0.125rem;opacity: 0;
    &-track{background: rgba(white,0.1);border-radius: 0.125rem;}
    &-thumb{background: rgba(white,0.3);border-radius: 0.125rem;}
    &-corner{ background: transparent; }
  }
  :hover{
      &::-webkit-scrollbar{
          &-thumb{background: rgba(white,0.6);}
      }
  }
}
// .hide{opacity: 0;pointer-events: none;transition: all .5s;top: ;}
